<ion-content>

  <div style="text-align: center; margin-top: 20px; margin-bottom: 15px;">
    <span style="font-weight: bold; font-size: 20px; color: white;">Fast Inventario</span>
  </div>

  <div style="margin-left: 10px; margin-right: 10px;">

    <form [formGroup]="loginForm" (submit)="login(loginForm.value)">

      <ion-item no-lines color="light" style="border-radius: 18px;">
        <ion-label position="floating" style="font-weight: bold;">Usuario</ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
  
      <ion-item no-lines color="light" style="margin-top: 7px; margin-bottom: 8px; border-radius: 18px;">
        <ion-label position="floating" style="font-weight: bold;">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
  
      <ion-button type="submit" expand="block" color="success" [disabled]="loginForm.invalid"
        style="margin-top: 17px; font-weight: bold;">Iniciar sesión</ion-button>
  
    </form>

  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <span style="font-weight: bold; font-size: 15px; margin-left: 10px; margin-right: 10px;"><span style="color: red;">Power by: </span> JS.Soluc.Tech</span>

    <span style="font-weight: bold; font-size: 15px;"><span style="color: red;">Cel: </span> 829-909-3042</span>
  </ion-toolbar>
</ion-footer>
