<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">Inventarios a la fecha</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <br>

  <ion-button (click)="openModalCreateOrEditInventory()" expand="block" color="primary" style="font-weight: bold; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">Aperturar inventario</ion-button>

  <ion-card *ngFor="let item of inventories" class="card">

    <ion-card-header style="margin-bottom: 10px;">
      <ion-button *ngIf="item.StatuShortName === 'Open'" class="btn-more" (click)="moreActionSheet(item)" color="light">...</ion-button>
    </ion-card-header>

    <ion-card-content>

      <ion-label class="label">Código:</ion-label>
      <p class="p">{{item.Id}}</p>

      <ion-label class="label">Descripción:</ion-label>
      <p class="p">{{item.Description}}</p>

      <ion-label class="label">Estado:</ion-label>
      <p class="p">{{item.Status}}</p>

      <ion-label class="label">Fecha de apertura:</ion-label>
      <p class="p">{{item.OpenDate}}</p>

      <ion-label class="label">Fecha de cierre:</ion-label>
      <p class="p">{{item.ClosedDate}}</p>

      <ion-label class="label">Usuario:</ion-label>
      <p class="p">{{item.UserName}}</p>

    </ion-card-content>

  </ion-card>


  <br>
  <br>
</ion-content>