<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">Inventarios a la fecha</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <br>

  <ion-button (click)="openModalCreateOrEditInventory()" expand="block" color="primary" style="font-weight: bold; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">Aperturar inventario</ion-button>

  <ion-card *ngFor="let item of inventories" class="card">

    <ion-card-header style="margin-bottom: 10px;">
      <ion-button *ngIf="item.StatuShortName === 'Open'" class="btn-more" (click)="moreActionSheet(item)" color="light">...</ion-button>
    </ion-card-header>

    <ion-card-content>

      <ion-label>
        <h2 style="font-weight: bold; color: red;">{{item.Description}}</h2>
        <h2> <span class="item">Código: </span> {{item.Id}}</h2>
        <h2> <span class="item">Estado: </span> {{item.Status}}</h2>
        <h2> <span class="item">Fecha de apertura: </span> {{item.OpenDate}}</h2>
        <h2> <span class="item">Fecha de cierre: </span> {{item.ClosedDate}}</h2>
        <h2> <span class="item">Usuario: </span> {{item.UserName}}</h2>
      </ion-label>

    </ion-card-content>

  </ion-card>


  <br>
  <br>
</ion-content>